<!DOCTYPE html>

<!--
    Welcome to Swift for Designers!
    Instead of checking viewing the source
    like a bum, come see the real thing and
    contribute to the site!

    http://github.com/swiftfordesigners/swiftfordesigners.github.io
-->

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
  <meta name="robots" content="NOODP">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- RSS for the cool cats! -->
  <link rel="alternate" type="application/rss+xml" title="Swift for Designers RSS" href="/atom.xml" />

  <!-- Main Stylesheet -->
  {% stylesheet main %}

  <!-- Custom CSS -->
  {% if page.custom_css %}{{ page.custom_css | stylesheet }}{% endif %}

  <!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/arb2xbf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="{% if page.custom_class %}{{ page.custom_class }}{% endif %}">
   <header class="wrap site__header" role="banner">
      <nav class="site__nav" role="navigation">
        <ul class="nav">
          {% for weight in (1..3) %}
            {% for p in site.pages %}
              {% if p.weight == weight %}
                {% unless p.site_nav == false %}
                  <li{% if page.url == p.url %} class="active"{% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>
                {% endunless %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </nav>
    </header>
