---
layout: page
title: Archives
---
<h2>Tags</h2>

<ul>
  {% for tag in site.tags %}
    <li><a href="/tag/{{ tag[0] }}">{{ tag[0] }}</a></li>
  {% endfor %}
</ul>

{% for month in page.months %}
  <h2>{{ month | date:"%B %Y" }}</h2>
  <div>
    {% for post in page.posts_by_month[month] %}
      <a href="{{ post.url }}">{{ post.title | truncate:55 }}</a>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | pretty }}</time>
      <br><br>
    {% endfor %}
  </div>
{% endfor %}